/*Каркас сайта*/
body {padding:0px; margin:0; font-size:14px; font-family:Arial, Sans-serif;}
#basic {width:960px; min-height:990px; margin:0 auto; padding:50px 50px 40px 40px; background:#fff;}
img {border:0;}
a {color:#ff9c00;}
a:hover {text-decoration:none;}
/*Шапка сайта*/
li.none-bg {background:none!important;}
/*Верхнее меню сайта*/
#top-menu {width:900px; height:74px;position: fixed; top: 0; z-index: 100;}
.bg-1 {width:980px; height:64px; background:#87CEFA; padding:0 0 0 0;}
.bg-1 ul {margin:0; padding:0 0 0 0 ; list-style:none;}
.bg-1 ul li {float:left; padding:0 0 0 0;}
.bg-1 ul li a {display:block; height:40px; padding:24px 18px 0 18px; color:#000000; text-decoration:none; text-transform:uppercase;}
.bg-1 ul li a:hover {color:#fff; background:#12261e;}

/*Подвал*/
.myclr {clear:both; float:none; width:100%; height:10px;}
#podval {border-top:1px solid #12261e; margin-top:30px;
background:#87CEFA;
}
.p1 {float:left; width:500px; padding:5px 0 0 0;}
.p2 {float:left; width:500px; padding:15px 0 0 0;}

/*ДЛЯ ОСНОВНОГО ТЕКСТА*/
.navbar{color:#000}
.shrift{font-size:1.2em}
#follow {
margin: 0px;
position: fixed;
top: 80%;
left: 90%;
}

/* ДОБАВЛЕНИЕ ТЕНИ */
.shadow{
  color: #000; /* Цвет  текста */
  font-size: 16px; /* Размер  текста */
   padding: 10px 0px;
   line-height: 1;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
.shadow:hover{
  color: #ffa000; /* Меняем цвет текста */
  -webkit-text-shadow: 2px 2px 2px #000;
  -moz-text-shadow: 2px 2px 2px #000;
      text-shadow: 2px 2px 2px #000;
}
.shadow1{
  color: #000; /* Цвет  текста */
  font-size: 16px; /* Размер  текста */
   padding: 10px 0px;
   line-height: 1;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
.shadow1:hover{
  color: #7B68EE; /* Меняем цвет текста */
  -webkit-text-shadow: 2px 2px 2px #000;
  -moz-text-shadow: 2px 2px 2px #000;
      text-shadow: 2px 2px 2px #000;
}
.shadow2{
  color: #000; /* Цвет  текста */
  font-size: 16px; /* Размер  текста */
   padding: 10px 0px;
   line-height: 1;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
.shadow2:hover{
  color: #9932CC; /* Меняем цвет текста */
  -webkit-text-shadow: 2px 2px 2px #000;
  -moz-text-shadow: 2px 2px 2px #000;
      text-shadow: 2px 2px 2px #000;
}
/* СМЕНА ЦВЕТА */
.P{
  color: #000; /* Цвет текста */
  font-size: 20px; /* Размер текста */
  padding: 8px 0px;
  line-height: 1;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease; 
}
.P:hover{
  color: #FF1493; /* Меняем цвет текста */
}
.mark{
  color: #000; /* Цвет текста */
  font-size: 20px; /* Размер текста */
  padding: 8px 0px;
  line-height: 1;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease; 
}
.mark:hover{
  color: #AA1563; /* Меняем цвет текста */
}
.mark1{
  color: #000; /* Цвет текста */
  font-size: 20px; /* Размер текста */
  padding: 4px 0px;
  line-height: 1;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease; 
}
.mark1:hover{
  color: #0000CD; /* Меняем цвет текста */
}
.R{
  color: #000; /* Цвет текста */
  font-size: 20px; /* Размер текста */
  padding: 8px 0px;
  line-height: 1;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease; 
}
.R:hover{
  color: #008000; /* Меняем цвет текста */
}
.K{
  color: #000; /* Цвет текста */
  font-size: 20px; /* Размер текста */
  padding: 8px 0px;
  line-height: 1;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease; 
}
.K:hover{
  color: #00CED1; /* Меняем цвет текста */
}
.N{
  color: #000; /* Цвет текста */
  font-size: 20px; /* Размер текста */
  padding: 8px 0px;
  line-height: 1;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease; 
}
.N:hover{
  color: #5265f6; /* Меняем цвет текста */
}
.G{
  color: #000; /* Цвет текста */
  font-size: 20px; /* Размер текста */
  padding: 8px 0px;
  line-height: 1;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease; 
}
.G:hover{
  color: #0000CD; /* Меняем цвет текста */
}
.B{
  color: #000; /* Цвет текста */
  font-size: 20px; /* Размер текста */
  padding: 8px 0px;
  line-height: 1;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease; 
}
.B:hover{
  color: #8B008B; /* Меняем цвет текста */
}
.L{
  color: #000; /* Цвет текста */
  font-size: 20px; /* Размер текста */
  padding: 8px 0px;
  line-height: 1;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease; 
}
.L:hover{
  color: #800000; /* Меняем цвет текста */
}
.чдм{
  color: #000; /* Цвет текста */
  font-size: 20px; /* Размер текста */
  padding: 2px 0px;
  line-height: 1;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease; 
}
.чдм:hover{
  color: #800000; /* Меняем цвет текста */
}
.чдм1{
  color: #000; /* Цвет текста */
  font-size: 20px; /* Размер текста */
  padding: 2px 0px;
  line-height: 1;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease; 
}
.чдм1:hover{
  color: #D2691E; /* Меняем цвет текста */
}
.чдм2{
  color: #000; /* Цвет текста */
  font-size: 20px; /* Размер текста */
  padding: 2px 0px;
  line-height: 1;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease; 
}
.чдм2:hover{
  color: #00FF7F; /* Меняем цвет текста */
}
.чдм3{
  color: #000; /* Цвет текста */
  font-size: 20px; /* Размер текста */
  padding: 2px 0px;
  line-height: 1;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease; 
}
.чдм3:hover{
  color: #FF6347; /* Меняем цвет текста */
}
::-webkit-input-placeholder {font-size: 16px;}
::-moz-placeholder {font-size: 16px;}         
:-moz-placeholder {font-size: 16px;}
:-ms-input-placeholder {font-size: 16px;}
:focus::-webkit-input-placeholder {opacity: 0;}    
:focus::-moz-placeholder {opacity: 0;}    
:focus:-moz-placeholder {opacity: 0;}    
:focus:-ms-input-placeholder {opacity: 0;}    
.form-at {
    width: 100%;
    padding: 20px;
    box-sizing: border-box; 
    overflow: hidden;
    font-size: 0;  
    letter-spacing: 0;    
    background: #f9f9f9;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 10px 18px rgba(0,0,0,0.2);
}
.form-at * {
    box-sizing: border-box;
    font-family: Verdana, sans-serif;    
}
.validate-input-at,
.no-validate-input-at {
    width: 100%;
    position: relative;
    background-color: #fff;
    border: 2px solid #BFE2FF;
    border-radius: 2px;
    margin-bottom: 20px;
}
.validate-input-at.w-50,
.no-validate-input-at.w-50 {
    width: calc(50% - 10px);
    display: inline-block;
}
.validate-input-at.w-50:first-child,
.no-validate-input-at.w-50:first-child {
    margin-right: 20px;
}
.input-at {
    display: block;
    width: 100%;
    background: transparent;
    color: #000;
}
input.input-at {
    height: 50px;
    padding: 0 20px 0 20px;
    font-size: 16px;
    outline: none;
    border: none;  
}
textarea.input-at {
    min-height: 170px;
    padding: 18px 20px;
    font-size: 16px;
    line-height: 22px;
    outline: none;
    border: none;
    resize: none;
}
textarea.input-at:focus, 
input.input-at:focus {
    border-color: transparent;
}
.focus-input-at {
    position: absolute;
    display: block;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    top: -1px;
    left: -1px;
    pointer-events: none;
    border: 2px solid #337AB7;
    border-radius: 2px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s;
    transform: scaleX(1.1) scaleY(1.3);
}
.input-at:focus + .focus-input-at {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}
.form-at-btn {
    position: relative;
    display: block;
    padding: 0 40px;
    height: 50px;
    background-color: #337AB7;
    border-radius: 2px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.2;
    transition: all 0.4s;
    margin: 0 auto;
    outline: none;
    border: none;
    cursor: pointer;        
}
.form-at-btn:hover {
    background-color: #333333;
}
.form-at-btn[disabled] {
    opacity: .6;
    cursor: not-allowed;
}
.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: #fff;
    border: 1px solid #c80000;
    border-radius: 2px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
    pointer-events: none;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s;
}
.alert-validate::after {
    content: "\f129";
    font-family: "FontAwesome";
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 18px;
    font-weight: bold;    
    top: 50%;
    transform: translateY(-50%);
    right: 22px;
}
.alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
}
.error-at {
    color: red;
    padding: 10px 0;
}
.success-at {
    color: green;
    font-size: 28px;
    padding: 20px 0;
    text-align: center;
}
.form-at input[type=checkbox] {
    display:none;
}
.form-at input[type=checkbox] + label {
    display: block;
    position: relative;
    margin: 0 0 20px 34px;
    font-size: 13px;
    line-height: 24px;
    color: #333333;
}
.form-at input[type=checkbox] + label:before {
    box-sizing: border-box;
    position: absolute;
    content: '';
    width: 26px;
    height: 26px;
    line-height: 22px;
    left: -34px;
    border: 2px solid #BFE2FF;
    border-radius: 2px;
}
.form-at input[type=checkbox]:checked + label:before{
    content: '\2714';
    color:#337AB7;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    border: 2px solid #337AB7;
}
@media (max-width: 768px) {
    .validate-input-at.w-50 {
        width: 100%;
    }
    .validate-input-at.w-50:first-child {
        margin-right: 0;
    }
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }
}
.rounded {
counter-reset: li; 
list-style: none; 
font: 28px "Trebuchet MS", "Lucida Sans";
padding: 0;
text-shadow: 0 1px 0 rgba(255,255,255,.5);
}
.rounded a {
position: relative;
display: block;
padding: .4em .4em .4em 2em;
margin: .5em 0;
background: #DAD2CA;
color: #444;
text-decoration: none;
border-radius: .3em;
transition: .3s ease-out;
}
.rounded a:hover {background: #E9E4E0;}
.rounded a:hover:before {transform: rotate(360deg);}
.rounded a:before {
content: counter(li);
counter-increment: li;
position: absolute;
left: -1.3em;
top: 50%;
margin-top: -1.3em;
background: #8FD4C1;
height: 2em;
width: 2em;
line-height: 2em;
border: .3em solid white;
text-align: center;
font-weight: bold;
border-radius: 2em;
transition: all .3s ease-out;
}
